@import url("alert.css");

html, body, main {
    height: 100%;
}

main {
    margin-top: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
}

a {
    font-weight: 500;
}

header {
    position: sticky;
    top: 0;
}

.forms-collapse > form.hidden {
    display: none;
}

.forms-collapse > form {
    display: block;
}